@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
/* primary background color */
.bg-primary {
  background-color: #5043e4;
}
